.fixImg{
    display: block;
    position: fixed;
    width: 10%;
    height: auto; 
    z-index: 1;
    left: 80%;
    right: 0;
    top: 6%;
    vertical-align: baseline;
}
.mainSlide{
    overflow: hidden;
}

.container{
    width: 300vw;
    transform: translate(-100vw);
}

.inner {
    width: 100vw;
    float: left;
}
.inner img{
    width: 100%;
}







