/* .fixImg{
    display: block;
    position: fixed;
    width: 10%;
    height: auto; 
    z-index: 1;
    left: 80%;
    right: 0;
    top: 6%;
    vertical-align: baseline;
}
.mainSlide{
    overflow: hidden;
} */

/* .container{
    width: 300vw;
    transform: translate(-100vw);
}

.inner {
    width: 100vw;
    float: left;
}
.inner img{
    width: 100%;
} */



/* Slide Button */

.slideBtn_L{
    position: absolute;
    z-index: 1;
    width: 10vw;
    height: 15vh;
    left: 22vw;
    top: 25vh;
    /* border-radius: 10px; */

    
}
.slideBtn_R{
    position: absolute;
    z-index: 2;
    width: 10vw;
    height: 15vh;
    left: 86vw;
    top: 25vh;
}

.btnSize{
    all: unset;

    width: 4vw;
    height: 7vh;
}

.btnSize:hover{
    transition: all 0.3s ease-in-out;
    background-color: rgb(138, 140, 145);
    color: #fff;
    border-radius: 3vw;
    background-size: 1/vh;

}







